@model Category

<div class="card shadow border-1 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Create Category</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" class="row">
            <div class="p-3" style="border: 1px solid #d3d3d3">
                <div class="form-floating py-2 col-12">
                    <label asp-for="Name" class="ms-2 label-color"></label>
                    <input asp-for="Name" class="form-control mt-2 border-0 shadow" style="border: 1px solid #d3d3d3 " />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <label asp-for="DisplayOrder" class="ms-2 label-color"></label>
                    <input asp-for="DisplayOrder" class="form-control mt-2 border-0 shadow" style="border: 1px solid #d3d3d3" />
                    <span asp-validation-for="DisplayOrder" class="text-danger"></span>
                </div>
                <div class="row justify-content-center pt-2 mt-2">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                        <button type="submit" class="btn btn-primary form-control" style="border: 1px solid black">Create</button>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                        <a asp-controller="Category" asp-action="Index" class="btn btn-outline-primary border form-control">Back To List</a>
                    </div>
                </div>
            </div>
        </form>
    </div>  
</div>



@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}